@import "../assets/mixins";


.slide_btns {

	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	transition: all 0.5s;
	z-index: 50;
	color: #fff;
	cursor: pointer;

	&:hover {
		background-color: #fff;
		color: blue;
	}
}

.slide_prev {
	@extend .slide_btns;
	left: 0;
}

.slide_next {
	@extend .slide_btns;
	right: 0;
}