%sw-slide {
	display: flex;
	height: 500px;
	background-color: #ccc;
	align-items: center;
	justify-content: center;
}

.swiper-slide {
	a {
		display: block;
		width: 100%;
		height: 100%;

		img {
			display: block;
			width: 100%;
			height: 100%
		}
	}
}

.first_Swiper .swiper-slide {
	@extend %sw-slide;
}

.second_Swiper .swiper-slide {
	@extend %sw-slide;
}

.swiper-pagination {
	position: relative;
}